html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: black;

  font: 18px/1.3 Helvetica, Arial;
}

ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  color: rgba(255,255,255,.8);
  padding: 2em;
  box-shadow: inset 0 1px 0 rgba(0,0,0,.2);
  text-shadow: 0 -1px 0 rgba(0,0,0,.1);
}

li.received {
  background: grey;
}

li.delivered {
  background: green;
}

li.failed {
  background: red;
}
